spring:
  application:
    name: CareerSim
  profiles:
    active: dev

  datasource:

    url: jdbc:mysql://localhost:3307/${MYSQL_DATABASE}?createDatabaseIfNotExist=true&serverTimezone=UTC

    username: root
    password: ${MYSQL_ROOT_PASSWORD}

    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    hibernate:
      ddl-auto: update